apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: "divancode74/makewish-user-service:{{ version }}"
          ports:
            - containerPort: 5001
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "400m"
              memory: "256Mi"
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "{{ aspnet_environment }}"
            - name: JwtToken__SecretKey
              value: "{{ jwt_token_secret_key }}"
            - name: DbConnection__ConnectionString
              value: "Server=postgres:5432;Database={{ postgres_db }};Username={{ postgres_user }};Password={{ postgres_password }}"
            - name: RabbitConnection__Username
              value: "{{ rabbit_user }}"
            - name: RabbitConnection__Password
              value: "{{ rabbit_password }}"
            - name: HttpUserContext__AdminId
              value: "{{ admin_id }}"
